.button {
  position: relative;
  padding: 1rem 5rem;
  font-size: 1.7rem;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;

  &--full {
    width: 100%;
  }

  &--white {
    background-color: map-get($colors, white);
    color: map-get($colors, black);
  }

  &--green {
    background-color: map-get($colors, primary);
    color: map-get($colors, white);
  }

  &--red {
    background-color: map-get($colors, red);
    color: map-get($colors, white);
  }
}
