.mapboxgl {
  &-ctrl-bottom {

    &-left,
    &-right {
      display: none;
    }
  }

  &-popup {
    &-content {
      padding: 1rem;
      text-transform: capitalize;
    }

    &-close-button {
      display: none;
    }
  }
}
