@font-face {
  src: url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
  font-family: 'Sf-Pro-Display';
  font-weight: bold;
}
@font-face {
  src: url('../fonts/SF-Pro-Display-Light.woff') format('woff');
  font-family: 'Sf-Pro-Display';
  font-weight: lighter;
}
@font-face {
  src: url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
  font-family: 'Sf-Pro-Display';
  font-weight: normal;
}