.fade-out-enter {
  opacity: 1;
  transition: opacity 4000ms;
}
.fade-out-enter-active {
  opacity: 0;
}
.fade-out-exit {
  opacity: 0;
}
.fade-out-exit-active {
  opacity: 1;
  transition: opacity 4000ms;
}
