@font-face {
  font-family: "Sf-Pro-Display";
  src: url("./../../fonts/SF-Pro-Display-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Sf-Pro-Display";
  src: url("./../../fonts/SF-Pro-Display-Light.woff") format("woff");
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: "Sf-Pro-Display";
  src: url("./../../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
